---
import DefaultHero from "@/components/DefaultHero.astro";
import * as translations from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { getLocaleParams } from "@/utils";

export function getStaticPaths() {
  return getLocaleParams();
}

const t =
  translations[Astro.currentLocale as keyof typeof translations] ||
  translations.en;
---

<Layout title={t.page["culture-real-estate"]}>
  <DefaultHero title={t.page["culture-real-estate"]} />
  <div class="grid gap-24 py-12 md:gap-32 md:py-24">
    <section
      id="forest-city"
      aria-labelledby="forest-city-title"
      class="mx-auto w-full max-w-(--breakpoint-lg) px-4"
    >
      <div class="prose prose-lg">
        <h2 id="forest-city-title">Forest City의 K-Culture Town 사업</h2>
        <p>
          K-Culture 허브를 구축하여, 방문객을 유치하기 위한 몰입형 문화 경험과
          재미있는 서비스를 제공하고
        </p>
        <ul class="marker:text-primary">
          <li>Filming Studio, Arena, Multiplex Theaters, Retail Spaces</li>
          <li>
            Cultural District Complex<br />(Global Culture Street Mall, Shared
            Office Tower, Serviced Residence Towers, AICT Towers, K-Beauty and
            Medical Center)
          </li>
        </ul>
        <p>
          블록체인 산업을 위한 법인 설립부터 주거형 사무공간을 제공하며, 편리한
          인프라와 관련 시설을 개발하여 비즈니스로 재창조 되게 만드는 프로그램
          입니다
        </p>
        <ul class="marker:text-primary">
          <li>Support for incorporation</li>
          <li>Business Villages and Residences</li>
          <li>Convenient infrastructure development</li>
        </ul>
      </div>
    </section>
  </div>
</Layout>
