---
import * as translations from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import founders1 from "@images/founders-message/founders-1.png";
import founders2 from "@images/founders-message/founders-2.jpg";
import { getLocaleParams } from "@/utils";
import { Image } from "astro:assets";

export function getStaticPaths() {
  return getLocaleParams();
}

const locale = Astro.currentLocale!;
const t = translations[locale as keyof typeof translations] || translations.en;
const messages = Object.values(
  import.meta.glob<ExportedMarkdownModuleEntities>(
    `@/content/founders-message/**/*.md`,
    {
      eager: true,
    },
  ),
);

const [{ Content: Message1 }, { Content: Message2 }] = messages.filter((msg) =>
  msg.file.includes(`/${locale}/`),
);
---

<Layout title={t["founders-message"].h1}>
  <h1 class="sr-only">{t["founders-message"].h1}</h1>
  <div class="grid gap-24 py-12 md:gap-32 md:py-24">
    <div class="mx-auto w-full max-w-(--breakpoint-lg) space-y-24 px-4">
      <article
        class="prose md:prose-lg grid w-full max-w-none gap-x-8 sm:grid-cols-[200px_1fr]"
      >
        <figure class="mb-0">
          <Image
            src={founders1}
            loading="eager"
            alt=""
            class="rounded-box max-w-[200px] border border-blue-500 shadow-md"
          />
          <figcaption>
            <span class="text-base-content font-bold"
              >{locale === "ko" ? "한승수" : "Han Seung-soo"}</span
            ><br />{
              locale === "ko" ? "창업주 - GG56, GxB" : "Founder - GG56, GxB"
            }
          </figcaption>
        </figure>
        <div class="**:text-balance"><Message1 /></div>
      </article>
      <article
        class="prose md:prose-lg grid w-full max-w-none gap-x-8 sm:grid-cols-[200px_1fr]"
      >
        <figure class="mb-0">
          <Image
            src={founders2}
            alt=""
            class="rounded-box max-w-[200px] border border-orange-500 shadow-md"
          />
          <figcaption>
            <span class="text-base-content font-bold"
              >{locale === "ko" ? "김영군" : "Kim Young-gun"}</span
            ><br />{
              locale === "ko" ? "대표이사 - 공동창업주" : "CEO - Co-Founder"
            }
          </figcaption>
        </figure>
        <div class="**:text-balance"><Message2 /></div>
      </article>
    </div>
  </div>
</Layout>
