---
import Layout from "@/layouts/Layout.astro";
import { getLocaleParams } from "@/utils";
import heroVideo from "@/assets/videos/hero_bg_1080p_60fps.mp4";
import Fade from "@/components/index/Fade.astro";
export function getStaticPaths() {
  return getLocaleParams();
}
---

<Layout>
  <Fragment slot="head">
    <link rel="preload" href={heroVideo} as="video" type="video/mp4" />
  </Fragment>
  <section
    id="hero"
    aria-labelledby="hero-title"
    class="grid bg-[#1e2535] *:[grid-area:1/1]"
  >
    <h1 class="sr-only">GG56</h1>

    <video
      src={heroVideo}
      autoplay
      loop
      muted
      playsinline
      preload="auto"
      class="h-dvh w-full object-cover lg:object-right-top"></video>
    <Fade />
  </section>
</Layout>
