---
import * as translations from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { getLocaleParams } from "@/utils";
import DefaultHero from "@/components/DefaultHero.astro";

export function getStaticPaths() {
  return getLocaleParams();
}

const t =
  translations[Astro.currentLocale as keyof typeof translations] ||
  translations.en;
---

<Layout title={t.page["mission-vision"]}>
  <DefaultHero title={t["mission-vision"].h1} />
  <div class="grid gap-24 py-12 md:gap-32 md:py-24">
    <section
      id="intro"
      aria-labelledby="intro-title"
      class="mx-auto w-full max-w-(--breakpoint-sm) px-4"
    >
      <div class="prose prose-lg sm:text-center">
        <strong class="text-primary text-sm"
          >{t["mission-vision"].intro.slogan}</strong
        >
        <h2 id="intro-title" class="mt-4">
          {t["mission-vision"].intro.h2}
        </h2>
        <p>{t["mission-vision"].intro.p}</p>
      </div>
    </section>
    <section
      id="mission"
      aria-labelledby="mission-title"
      class="bg-primary/5 py-18"
    >
      <div
        class="prose prose-lg sm:prose-xl mx-auto grid w-full max-w-(--breakpoint-lg) gap-8 px-4 sm:grid-cols-2"
      >
        <h2 id="mission-title">
          {t["mission-vision"].mission.h2}
        </h2>
        <p>{t["mission-vision"].mission.p}</p>
      </div>
    </section>
    <section id="values" aria-labelledby="values-title" class="py-12">
      <h2 id="values-title" class="sr-only">{t["mission-vision"].values.h2}</h2>

      <ul
        class="mx-auto flex max-w-(--breakpoint-xl) justify-center gap-12 text-center text-3xl font-semibold *:grow max-sm:flex-col"
      >
        {
          t["mission-vision"].values.values.map((value) => (
            <li class="text-blue-500 first:text-green-500 last:text-yellow-500">
              {value}
            </li>
          ))
        }
      </ul>
    </section>
    <section
      id="vision"
      aria-labelledby="vision-title"
      class="bg-primary/5 py-18"
    >
      <div
        class="prose prose-lg sm:prose-xl mx-auto grid w-full max-w-(--breakpoint-lg) gap-8 px-4 sm:grid-cols-2"
      >
        <h2 id="vision-title" class="sm:order-last sm:text-end">
          {t["mission-vision"].vision.h2}
        </h2>
        <p>{t["mission-vision"].vision.p}</p>
      </div>
    </section>
  </div>
</Layout>
