---
import MainNav from "./MainNav.astro";
import Logo from "@/assets/svgs/gg56.svg";
---

<header class="bg-base-100 sticky top-0 z-40 shadow-sm">
  <div class="container mx-auto flex items-center justify-between px-4 py-2">
    <Logo class="size-8 md:size-10" />
    <MainNav />
  </div>
</header>
