---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as translations from "@/i18n";
import NavDropdown from "./NavDropdown.astro";

const locale = Astro.currentLocale!;
const t = translations[locale as keyof typeof translations] || translations.en;

const businessSections = [
  { text: t.business.ggbank.h2, id: "ggbank" },
  { text: t.business.ggex.h2, id: "ggex" },
  { text: t.business.fintech.h2, id: "fintech" },
  { text: t.business.rwa.h2, id: "rwa" },
  { text: t.business.it.h2, id: "it" },
];

const aboutLinks = [
  { href: "about", text: t.about.h1 },
  { href: "founders-message", text: t["founders-message"].h1 },
  { href: "advisory-board", text: t["advisory-board"].h1 },
  { href: "contact", text: t.contact.h1 },
  { href: "notice", text: t.notice.h1 },
];
---

<nav>
  <ul class="flex items-center gap-4">
    <li>
      <a href={getRelativeLocaleUrl(locale, "/")} class="btn btn-ghost"
        >{t.nav.home}</a
      >
    </li>
    <li>
      <NavDropdown
        label={t.nav.business}
        links={businessSections.map(({ id, text }) => ({
          href: `${getRelativeLocaleUrl(locale, "/business")}#${id}`,
          text,
        }))}
      />
    </li>
    <li>
      <NavDropdown
        label={t.nav.about}
        links={aboutLinks.map(({ href, text }) => ({
          href: getRelativeLocaleUrl(locale, href),
          text,
        }))}
      />
    </li>
  </ul>
</nav>
