---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as translations from "@/i18n";
import NavDropdown from "./NavDropdown.astro";

const locale = Astro.currentLocale!;
const t = translations[locale as keyof typeof translations] || translations.en;

type Link = keyof typeof t.page;

const businessSections = [
  { title: "디지털 뱅크", id: "ggbank" },
  { title: "암호화폐 거래소", id: "ggex" },
  { title: "FIN-Tech", id: "fintech" },
  { title: "RWA", id: "rwa" },
  { title: "IT", id: "it" },
];

const aboutLinks: Link[] = [
  "about",
  "founders-message",
  "advisory-board",
  "contact",
  "news",
  "notice",
];
---

<nav>
  <ul class="flex items-center gap-4">
    <li>
      <a href={getRelativeLocaleUrl(locale, "/")} class="btn btn-ghost"
        >{t.nav.home}</a
      >
    </li>
    <li>
      <NavDropdown
        label="사업소개"
        links={businessSections.map(({ id, title }) => ({
          href: `${getRelativeLocaleUrl(locale, "/business")}#${id}`,
          text: title,
        }))}
      />
    </li>
    <li>
      <NavDropdown
        label="회사소개"
        links={aboutLinks.map((link) => ({
          href: getRelativeLocaleUrl(locale, link),
          text: t.page[link],
        }))}
      />
    </li>
  </ul>
</nav>
